@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $primary_color;
}

a {
    text-decoration: none;
}

#del-btn {
    border: none;
    background-color: transparent;
}
